<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 p-1 offset-md-1">
      <div class="image-container position-relative">
        <img class="image-container__image img-fluid" src="../../../assets/aboutus3.png" alt="Imagen" />
        <div class="text-container text-white">
          <h1 class="text-container__title mb-4">¿Qué somos?</h1>
          <div class="text-container__paragraph mb-4 text-justify fs-4 custom-text-width">
            <p>Soma una empresa proveedora de software para apuestas deportivas, que cuenta con más de 6 años de experiencia en el mercado.</p>
          </div>
          <div class="additional-info">
            <div class="row">
              <div class="col-md-6">
                <a href="mailto:jc.iokitoh@hotmail.com" class="btn btn-custom btn-lg">
                  <i class="fas fa-envelope"></i> Contactar por correo
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
