<div class="container-fluid p-0">
  <div class="row">
    <div class="col-md-12 p-0">
      <div class="image-container position-relative">
        <div id="text-slider" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-caption text-center">
                <h1 class="text-container__title">Aciértala</h1>
               <p class="text-container__paragraph"></p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption text-center">
                <h1 class="text-container__title">SportbetPerú</h1>
                <p class="text-container__paragraph"></p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption text-center">
                <h1 class="text-container__title">Tinbet</h1>
                <p class="text-container__paragraph"></p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#text-slider" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#text-slider" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </a>
        </div>
        <img class="image-container__image w-100" src="../../../assets/clientes-PhotoRoom.png" alt="Imagen de fondo" />
      </div>
      <div class="slider position-absolute top-50 start-50 translate-middle">
        <div class="slide-track">
          <div class="slide">
            <a href="https://www.sportbetperu.com/"><img src="../../../assets/sportbet.png" alt="Logo 1"></a>
          </div>
          <div class="slide">
            <a href="https://tinbet.net/#/"><img src="../../../assets/tinbet.png" alt="Logo 2"></a>
          </div>
          <div class="slide">
            <a href="#"><img src="../../../assets/logo.jpeg" alt="Logo 3"></a>
          </div>
          <div class="slide">
            <a href="https://www.aciertala.pe/home"><img src="../../../assets/aciertalalogo2-removebg-preview.png" alt="Logo 4"></a>
          </div>
          <div class="slide">
            <a href="https://www.sportbetperu.com/"><img src="../../../assets/sportbet.png" alt="Logo 1"></a>
          </div>
          <div class="slide">
            <a href="https://tinbet.net/#/"><img src="../../../assets/tinbet.png" alt="Logo 2"></a>
          </div>
          <div class="slide">
            <a href="#"><img src="../../../assets/logo.jpeg" alt="Logo 3"></a>
          </div>
          <div class="slide">
            <a href="https://www.aciertala.pe/home"><img src="../../../assets/aciertalalogo2-removebg-preview.png" alt="Logo 4"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
