<footer class="footer fixed-bottom bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <a href="https://www.facebook.com/" target="_blank" class="text-light footer__link">
            <i class="fab fa-facebook fa-2x footer__icon"></i>
          </a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 text-center">
          &copy; 2023 Arcatec. Todos los derechos reservados.
        </div>
      </div>
    </div>
  </footer>
  
