<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 p-0">
      <div class="image-container position-relative">
        <img class="image-container__image w-100" src="../../../assets/home-image.jpg" alt="Imagen" />
        <div class="text-container text-white">
          <h1 class="text-container__title mb-4">Innovación sin límites</h1>
          <p class="text-container__paragraph mb-4 fs-4 ">Arcatec es un destacado proveedor de software centrado en la industria de apuestas deportivas. Ofreciendo un producto seguro y confiable, usado en varias franquicias y empresas.</p>
          <div class="additional-info">
            <div class="row">
              <div class="col-md-6">
                <h2 class="additional-info__title mb-3">Experiencia y confiabilidad comprobada</h2>
                <p class="additional-info__paragraph fs-4 text-justify custom-text-width">Con una trayectoria sólida en la industria, Arcatec se ha ganado la confianza de numerosas franquicias y empresas en el ámbito de las apuestas deportivas por su seguridad y confiabilidad.</p>
              </div>
              <div class="col-md-6">
                <h2 class="additional-info__title mb-3">Atención al cliente</h2>
                <p class="additional-info__paragraph fs-4 text-justify custom-text-width">En Arcatec ofrecemos atención al cliente muy atenta que cuenta con abanico de respuesta muy amplio del donde nos hemos logrado consagrar con la confianza de los clientes.</p>
              </div>
              <div class="col-md-12 d-flex justify-content-center mt-3">
                <a class="btn btn-custom" routerLinkActive="active" [routerLink]="['sobre-nosotros']" aria-current="page">Sobre Nosotros</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>