<div class="container-fluid p-0">
  <div class="row">
    <div class="col-md-10 p-0">
      <div class="image-container position-relative">
        <img class="image-container__image w-100" src="../../../assets/logo-home-2.png" alt="Imagen de fondo">
        <div class="slider-container position-absolute top-50 start-50 translate-middle">
          <div class="slider">
            <div class="slide-track">
              <div class="slide">
                <a href="https://willbet.pe/#/"><img src="../../../assets/willbet.jpeg" alt="Logo 1"></a>
                <div class="slide-caption text-center">
                  <h1 class="slide-caption__title fs-4">Willbet</h1>
                  <p class="slide-caption__paragraph fs-5">Aplicación de escritorio</p>
                </div>
              </div>
              <div class="slide">
                <a href="https://www.aciertala.pe/home"><img src="../../../assets/aciertala2.png" alt="Logo 2"></a>
                <div class="slide-caption text-center">
                  <h1 class="slide-caption__title fs-4">Aciertala</h1>
                  <p class="slide-caption__paragraph fs-5">Página web y aplicación de escritorio</p>
                </div>
              </div>
              <div class="slide">
                <a href="https://tinbet.net/#/"><img src="../../../assets/tinbet.jpeg" alt="Logo 3"></a>
                <div class="slide-caption text-center">
                  <h1 class="slide-caption__title fs-4">Tinbet</h1>
                  <p class="slide-caption__paragraph fs-5">Página web y aplicación de escritorio</p>
                </div>
              </div>
              <div class="slide">
                <a href="https://willbet.pe/#/"><img src="../../../assets/willbet.jpeg" alt="Logo 1"></a>
                <div class="slide-caption text-center">
                  <h1 class="slide-caption__title fs-4">Willbet</h1>
                  <p class="slide-caption__paragraph fs-5">Página web y aplicación de escritorio</p>
                </div>
              </div>
              <div class="slide">
                <a href="https://www.aciertala.pe/home"><img src="../../../assets/aciertala2.png" alt="Logo 2"></a>
                <div class="slide-caption text-center">
                  <h1 class="slide-caption__title fs-4">Aciertala</h1>
                  <p class="slide-caption__paragraph fs-5">Descripción del slider 5</p>
                </div>
              </div>
              <div class="slide">
                <a href="https://tinbet.net/#/"><img src="../../../assets/logo.jpeg" alt="Logo 3"></a>
                <div class="slide-caption text-center">
                  <h1 class="slide-caption__title fs-4">Tinbet</h1>
                  <p class="slide-caption__paragraph fs-5">Página web y aplicación de escritorio</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
